// Variables used on project

// Colors
$TESTE-darkshade: #1F2041;
$TESTE-purple: #BC9CFF;
$TESTE-green: #6FCF97;

// Others
$elements-height: 35px;
$inputs-padding: 10px 30px;
$din-font-path: "../fonts/" !default; // font